section.editor {
    div.client-list {
        margin-bottom: 2rem;
    }
    section.ad-info {
        span.bold {
            font-weight: 500;
        }
    }

    div.preview {
        margin: 5rem 0;
        border: 1px solid #ddd;
        padding: 0.5rem 1rem;
        &-flex {
            display: flex;
            flex: {
                direction: row;
                wrap: wrap;
            }
            &-item {
                margin: {
                    right: 1rem;
                    bottom: 1rem;
                }
                p {
                    font-weight: 500;
                    text-align: center;
                    margin: 0.5rem 0;
                }

                .preview-img-large {
                    display: block;
                    width: 300px;
                    height: 250px;
                    overflow: hidden;

                    img {
                        width: 300px;
                    }
                }

                .preview-img-small {
                    display: block;
                    width: 200px;
                    height: 200px;
                    overflow: hidden;

                    img {
                        width: 200px;
                    }
                }
            }
        }
    }

    div.field {
        margin: 5rem 0;
        label {
            font: {
                size: 1.25rem;
                weight: 500;
            }
            display: block;
            margin-bottom: 0.6rem;
        }

        input[name="Lien"] {
            box-sizing: border-box;
            display: block;
            width: 100%;
        }

        input[name="Texte"] {
            @extend input[name="Lien"];
        }
    }

    div.container-images {
        display: flex;
        flex: {
            direction: row;
            wrap: wrap;
        }

        div.images {
            cursor: pointer;
            padding: 1rem;
            border: 1px solid #ddd;
            display: flex;
            align-items: center;
            margin: {
                right: 1rem;
                bottom: 1rem;
            }
            flex: {
                direction: column;
            }
            img {
                cursor: pointer;
                width: 200px;
            }
        }

        .select {
            background: #eee;
        }
    }
}
