@mixin button {
    background: #eee;
    padding: .6rem 1rem;
    cursor: pointer;
    font: {
        family: $fontFamily;
        weight: 300;
    }
    border: 1px solid #ddd;
    border-radius: 3px;
}