// Colors

$color-primary: #2646B5;

$color-secondary: #999DAC;
$color-secondary-dark: #393F55;
$color-secondary-light: #D9D9DB;

$color-white: #F5F5F6;
$color-black: #14161D;

$color-transparent: transparent;

//Fonts

$default-size: 1.6rem; //16px
$small-size: 1.3rem;
$text-font: 'Inter', sans-serif;

// Border radius

$b-radius: 2px;
