table {
    width: 100%;
    border-collapse: collapse;
    thead {
        border-bottom: 1px solid #ddd;
        th {
            text-align: left;
            padding: .6rem 1rem;
        }
    }
    tbody {
        tr:nth-child(even) {
            background: #f8f8f8;
        }
        td {
            padding: .6rem 1rem;
        }
    }
}
